# Capstone Project part 2
### of IBM Applied Data Science on Coursera 
This notebook will be used to scrape a Wikipedia page for postal codes in Toronto, Canada and then putting into a pandas data frame.\
28-11-2019 Jonas Folesky

In [1]:
#imports
import pandas as pd

In [2]:
pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
wikidata = pd.read_html(io='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

##### Loading the data with pd.read_html() does a fine job

In [4]:
df_tn = wikidata[0] # dataframe toronto neighbourhoods
df_tn.rename(columns = {'Postcode':'PostalCode'},inplace=True) 
df_tn.head(5)

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [5]:
##drop rows were Borough is not assigned
df_tn.drop(df_tn[df_tn['Borough']=='Not assigned'].index,inplace=True)

In [6]:
#join Neighborhoods with same postal code
df_tn_clean = df_tn.groupby('PostalCode').agg(Borough =('Borough','first'),
                                      Neighbourhood = ('Neighbourhood',', '.join)).reset_index() 
df_tn_clean.head()#check new dataframe

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [7]:
#replace not assigned neighborhood names with borough names
idx = df_tn_clean['Neighbourhood']=='Not assigned'
df_tn_clean['Neighbourhood'].loc[idx]=df_tn_clean['Borough'].loc[idx]
df_tn_clean.tail(10) #use n=10 because Queens Park (93) is the one row  affected

,PostalCode,Borough,Neighbourhood
93,M9A,Queen's Park,Queen's Park
94,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol..."
96,M9L,North York,Humber Summit
97,M9M,North York,"Emery, Humberlea"
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv..."
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ..."
102,M9W,Etobicoke,Northwest

In [8]:
df_tn_clean.shape

(103, 3)